#!/bin/bash

cat <<EOT > /bin/chuser
#!/bin/bash
echo "Enter username: "
read username

su - \$username
EOT

chmod +x /bin/chuser
echo "/bin/chuser" >> /etc/shells

useradd bastion --shell /bin/chuser

%{ for user, user_info in students }
useradd ${user}
echo ${user_info["password"]} | passwd ${user} --stdin
chage -d 0 ${user}
%{ endfor ~}

yum install httpd -y
systemctl start httpd.service
systemctl enable httpd.service
